body{
    margin:0;
    min-width: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ddd;
}

.container{
    width:100%;
    display: flex;
    justify-content:space-around;
}
.counter-container{
    text-align: center;
}

.count{
    display:block;
    margin-bottom: 20px;
    font-size: 80px;
    color:#6a097d;
}

.count-detail{
font-size: 25px;
white-space:nowrap; 
color:#565656;
}