*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    padding: 20px;
    background: orange;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    flex-direction: row ;
    
}
.nav-item{
    padding:  10px;
    
}

.nav-link{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s all ease-in-out;
}



.nav-link:hover{
  background-color: red;
    padding: 15px;
    border-radius: 25px;
}
.nav-item:last-child{
    background: red;
    border-radius:25px
}

